@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@layer components {
  #opening_logo {
   @apply animate-spin_2
  }

  .nav-element {
    @apply md:active:text-teal-accent w-screen md:w-full 
     pe-72 ps-5 md:pe-0 py-9 h-full md:py-0 text-xl md:hover:text-yellow 
    md:hover:bg-base-red hover:bg-yellow hover:text-white text-white md:text-lg font-Montserrat
  }

  .header_text {
    @apply text-center text-5xl px-5 md:px-0 md:text-7xl font-Montserrat text-white
  }
  
  .introduction_text {
    @apply text-center md:text-2xl text-xl text-white font-Courier px-5 md:px-0
    
  }

  .body_text {
    @apply text-base lg:text-lg text-white font-Courier leading-relaxed
  }

  .section_header {
    @apply  text-white font-Montserrat text-3xl md:text-4xl text-center
  }

  .responsive-nav {
    @apply  flex-col flex

  }

  .carousel_track {
    @apply transition-transform delay-75 duration-700 ease-in-out
  }
  
  .carousel_title {
    @apply text-white font-semibold text-2xl self-center pt-4 font-Montserrat
  }

  .carousel_item {
    @apply flex flex-col md:flex-row top-0 bottom-0 my-auto w-full absolute mx-auto justify-center
    left-0 right-0 bg-default-background border-teal-accent border-2 rounded-lg overflow-y-hidden

  }
  
  .carousel-button {
    @apply text-teal-accent border-teal-accent border-2 text-2xl px-1 h-fit z-10 font-Courier font-bold rounded-md relative overflow-hidden
    after:absolute after:h-full after:w-full after:bg-red-highlight after:left-0 after:right-0 after:mx-auto
    after:top-0 after:bottom-0 after:my-auto after:transition-opacity after:ease-out after:duration-500 after:-z-10 after:opacity-0
  }
  .carousel-button:hover {
    @apply after:opacity-100 text-white border-white
  }


  .carousel_logo {
    @apply h-32 w-fit mx-auto md:h-5/6 md:my-auto pb-10 pt-3 md:py-0 md:me-4
  }

  .text_holder {
    @apply text-center container w-full rounded-xl flex-col flex justify-center gap-y-2 md:gap-y-0
  }

  .project-preview {
    @apply bg-carbon-grey text-center rounded-md pb-3
  }

  .call_to_action {
    @apply font-Montserrat relative font-semibold text-xl border-2 border-teal-accent px-3 rounded-lg hover:border-red-highlight hover:text-default-background overflow-hidden
    after:w-full after:h-full after:bg-teal-accent after:border-2 after:border-teal-accent  after:block after:absolute after:top-0 after:bottom-0
    after:my-0 after:left-0 after:right-0 after:-translate-x-full after:transition-transform after:ease-out after:rounded-md after:duration-500
  }
  .call_to_action:hover span {
    @apply delay-300 text-red-highlight
  }
  .call_to_action:hover {
    @apply after:translate-x-0
  }
  a {
    @apply font-Montserrat hover:text-yellow text-teal-accent
  }

  .language {
    @apply font-Montserrat text-white align-middle self-center border-2 rounded-md bg-red-highlight px-2
  }


  .modal-title {
    @apply text-white font-Montserrat text-center text-3xl
  }

  .side_social {
    @apply w-12 bg-deep-purple rounded-sm border-yellow border-2 relative
  }

  .social_tooltip {
    @apply absolute invisible bg-end-gradient border-2 border-yellow rounded-sm text-yellow top-0 bottom-0  my-auto  align-middle
    px-3 translate-x-12 h-fit before:border-2 before:absolute before:w-3 before:right-101 before:h-full before:fill-deep-purple before:border-r-yellow 
    before:border-l-transparent before:border-y-transparent

  }

  .side_social:hover .social_tooltip {
    @apply visible
  }

  .footer_social {
    @apply w-12 border-white rounded-md border-2 p-1 h-fit self-center relative overflow-hidden
    before:absolute before:w-16 before:px-3 before:h-14 before:bg-red-highlight before:translate-y-14 before:-ms-1
    before:transition-transform before:duration-500 before:top-0 before:bottom-0 before:right-0 before:left-0 before:mx-auto before:my-auto
    before:-z-10
  }

  .footer_social:hover {
    @apply before:translate-y-0 border-red-highlight
  }

  .footer_element {
    @apply border-2 border-white px-2 rounded-md text-white hover:text-white relative z-10 overflow-hidden text-center
    before:absolute before:w-full before:p-3 before:h-full before:bg-white before:translate-y-full
    before:transition-transform before:duration-500 before:top-0 before:bottom-0 before:right-0 before:left-0 before:mx-auto
    before:-z-10
  }

  .footer_element:hover {
    @apply text-deep-purple before:translate-y-0
  }
  
  }




